<html ng-app="listaTelefonica">
<head>
    <title>Lista Telefônica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .table {
            margin-top: 20px;
        }

        .form-control {
            margin-bottom: 5px;
        }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaController", function ($scope) {
            $scope.app = "Lista Telefônica";
            
            $scope.contatos = [
                {nome: "Marcelo", telefone: "11977772222", operadora: "Vivo"},
                {nome: "Lucas", telefone: "11977773333", operadora: "TIM"},
                {nome: "Jorge", telefone: "11977774444", operadora: "Oi"}
            ];

            $scope.operadoras = [
                {nome: "Oi", codigo: 1, categoria: "Celular"},
                {nome: "Vivo", codigo: 7, categoria: "Celular"},
                {nome: "Claro", codigo: 3, categoria: "Celular"},
                {nome: "TIM", codigo: 2, categoria: "Fixo"},
                {nome: "Embratel", codigo: 9, categoria: "Fixo"},
            ];
            
            $scope.adicionaContato = function (contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            };
        });
    </script>
</head>
<body ng-controller="listaTelefonicaController">
    <div class="jumbotron">
        <h3 ng-bind="app"></h3>
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>
            <tr ng-repeat="contato in contatos">
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
            </tr>
        </table>
        <hr>
        {{contato}}
        <input class="form-control" ng-model="contato.nome" placeholder="Nome">
        <input class="form-control" ng-model="contato.telefone" placeholder="Telefone">
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras" ng-disabled="!contato.nome || !contato.telefone">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary btn-block" ng-click="adicionaContato(contato)" ng-disabled="!contato.nome || !contato.telefone || !contato.operadora.nome">Adicionar Contato</button>
    </div>
</body>
</html>